@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.search {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.search-input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.search svg {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  fill: #666;
  cursor: pointer;
}
        
.search-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    color: var(--dark-blue);
    cursor: pointer;
}